:root {
    --primary-color: #131635;
    --secondary-color: #EE1C25;
    --white-color: #fff;
    --light-blue: #1E234E;
}

html {
    scroll-behavior: smooth;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans';
    /* color: var(--primary-color); */
    overflow-x: hidden;
}